body{
    background: white;
	color: black;
	font-family: sans-serif;
	text-align: center;
	padding: 0%;
}

h1{
	font-size: x-large;
}

#container{
	margin: 5% auto;
	border-radius: 5px;
	text-align: center;
}

.box{
	display: inline-block;
	border:1px solid black;
	width: 100px;
	height: 100px;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
}

span{
	position: absolute;
	font-size: 75px;
	font-family: sans-serif;
	text-align: center;
	height: 75px;
	width: 75px;
	padding: 0;
	margin: 5px;
	margin-left: -35px;
}

.top{
	border-top: none;
}

.left{
	border-left: none;
}

.right{
	border-right: none;
}

.bot{
	border-bottom: none;
}

.alert{
	height: 75px;
	width: 125px;
	display: inline-block;
	background-color: ghostwhite;
	z-index: 10;
	margin-top: -25px;
	border-radius: 20px;
	box-shadow: 0 0 75px 2 dimgray;
	animation: larger 0.5s;
	animation-fill-mode: forwards;
	box-sizing: content-box;
	padding: 30px;
	bottom: 50px;
	top: 0;
}

button{
	background: dimgray;
	border-radius: 2px;
	color: ghostwhite;
	border: none;
	outline: none;
}

button:focus{
	background: sienna;
}

.activeBox{
	background: silver;
}

@keyframes larger{
	from{
		height:75px;
		width:125px;
	}

	to{
		height:100px;
		width:250px;
	}
}

.clockContainer{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
    color: black;
    font-weight: bold;
    font-size: large;
  -webkit-animation: container .5s ease-in-out infinite alternate;
  -moz-animation: container .5s ease-in-out infinite alternate;
  animation: container .5s ease-in-out infinite alternate;
}

@-webkit-keyframes container {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2a00e6, 0 0 40px #00d7e6, 0 0 50px #2a00e6, 0 0 60px #00d7e6, 0 0 70px #2a00e6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}